:root {
    --color-prymary: #2E2F42;
    --color-secondary: #f4f4fd;
    --color-set: #434455;
    --color-non: #FFFFFF;
    --color-web: #4d5ae5;
    --color-ger:#31d0aa;
    --color-light-slate:#8e8f99;
    --color-web: #
    }
    
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }
    
    body {
    color: var(--color-set);
    background-color: var(--color-non);
    font-family: 'Manrope';
    font-size: 20px;
    }
    
    .container{
    margin: 0 auto;
    max-width: 1280px;
    padding-left:100px;
    padding-right:100px;
    }
    
    h1,h2,h3,h4,h5,h6{
    margin: 0;
    }
    
    a {
    text-decoration: none;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    }
    
    img {
    display: block;
    }
    /* heder */
    .heder{
    padding-bottom: 9px;
    margin-left: auto;
    margin-right: auto;
    }
    
    .heder-div{
    display: flex;
    align-items: center;
    text-align: center;
    }
    
    .heder-logo{
    padding-right: 40px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    }
    
    /* .link-heder{
    
    }
    
    .logo-span{
    
    } */
    
    .heder-wrap{
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 28px ;
    }
    
    .heder-navigation{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    }
    
    .heder-list{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    }
    
    /* .heder-wrap-link{
    
    }
    
    
    .heder-adres{
    
    } */
    
    .heder-socials-info{
    display: flex;
    gap: 25px;
    }
    /* .nav-mailto{
    
    }
    
    .tel{
    
    } */
    /* hero */
    /* .hero{
    
    } */
    
    .hero-div{
    padding: 30px 20px;
    border-radius: 30px;
    background-color: #f0bff7;
    }
    
    .hero-info{
    color: #295f5b;
    font-size: 20px;
    text-align: center;
    }
    
    .hero-info-wrap{
    color: #302828;
    text-align: left;
    }
    
    /* project-experience */
    
    /* .project-experience{
    
    } */
    
    .project-div{
    padding-top: 30px;
    max-width: 530px;
    padding-bottom: 30px;
    }
    
    .project-wrap{
    color: #f8d769;
    }
    
    .project-input{
    text-align: left;
    }
    /* 
    .project-tabl{
    
    } */
    
    /* tech-skills */
    
    .tech-skills{
    color: #fa7436;
    }
    /* 
    .tech-div{
    
    }
    
    .tech-wrap{
    
    }
    
    .tech-input{
    
    }
    
    .tech-tabl{
    
    } */
    
    /* soft-skills */
    
    .soft-skills{
    color: #57d1f7;
    }
    
    .soft-div{
    padding-top: 30px;
    }
    /* 
    .soft-wrap{
    
    }
    
    .soft-input{
    
    }
    
    .soft-tabl{
    
    } */
    
    /* section-languages */
    
    /* .section-languages{
    
    } */
    
    .section-languages-div{
    padding-top: 30px;
    color: #1965f1;
    }
    
    /* .section-languages-wrap{
    
    } */
    
    .languages-paragraf{
    color: #fa1313;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    /* 
    .section-languages-input{
    
    } */
    
    .section-languages-tabl{
    color: #f7b4b4;
    }
    
    /* interests */
    
    /* .section-interests{
    
    } */
    
    .interests-div{
    padding-top: 45px;
    }
    
    /* .interests-wrap{
    
    }
    
    .interests-wrap{
    
    } */
    
    .interests-paragraf{
    margin-top: 10px;
    font-size: 20px;
    }